.card-default {
  width: 90%;
  margin: auto; }

.card-home {
  max-width: 640px;
  background-color: white;
  padding: 30px;
  border: solid 2px 4px 4px 2px black;
  border-radius: 20px; }

.card-img {
  max-width: 340px;
  max-height: 200px; }

.woocommerce ul.products li.product.desktop-align-left, .woocommerce-page ul.products li.product.desktop-align-left {
  background-color: white;
  padding: 20px;
  border: solid 2px black;
  border-radius: 20px; }

.woocommerce-loop-product__title {
  color: #004643; }

.woocommerce-page ul.products li.product .ast-woo-product-category {
  color: #E16162; }

.woocommerce ul.products li.product .price {
  color: #378b73; }

.woocommerce ul.products li.product.desktop-align-left .button {
  border: solid 1px black;
  margin: 20px 30px 10px 40px; }

.woocommerce-js ul.products li.product a img {
  border: solid 1px black;
  border-radius: 20px; }

#d2f91c4 {
  width: 90%; }

legend {
  color: #dadada !important; }

.entry-title {
  margin-left: 160px; }

.proyectos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 60px 0px; }

.proyecto-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  flex: 1 1 calc(33.333% - 20px);
  /* Three items per row */
  box-sizing: border-box; }

.proyecto-card:hover {
  transform: translateY(-10px); }

.proyecto-thumbnail img {
  width: 100%;
  height: auto;
  display: block; }

.proyecto-content {
  padding: 20px; }

.proyecto-content h2 {
  font-size: 1.5em;
  margin: 0 0 10px;
  color: #004643; }

.proyecto-content p {
  font-size: 1em;
  color: #555; }

.title-card {
  margin: 40px 0px; }

.ast-article-post:hover {
  transform: translateY(-10px); }

.entry-title a {
  color: #004643; }

.entry-title {
  margin: 10px 0px; }

.post-title {
  margin-left: 185px;
  margin-bottom: 20px; }

header.entry-header .entry-title {
  margin-left: 185px; }
