body {
  font-family: "Poppins", sans-serif;
  background-color: #001E1D; }

/* my-theme/header-styles.css */
header .ast-primary-header {
  width: 90%;
  margin: 2rem 5%;
  background-color: #004643;
  border: solid 1px black;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0; }

header .ast-builder-menu-1 .menu-item .menu-link {
  color: #dadada;
  text-decoration: dotted; }

header .ast-builder-menu-1 .menu-item:hover .menu-link {
  color: #ABD1C6; }

.site-title {
  display: none; }

.site-branding {
  width: 8rem;
  height: 4rem; }

.ast-builder-menu-1 .menu-item.current-menu-item .menu-link {
  color: #ABD1C6; }

.ast-builder-grid-row {
  gap: 15rem; }

.site-primary-header-wrap {
  margin: 0px 30px; }

.custom-footer-content {
  text-align: center;
  padding: 20px;
  background-color: #004643;
  color: #fff; }

.custom-footer-content .footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* Espacio entre enlaces */
  margin: 10px 0; }

.custom-footer-content .footer-links a {
  color: #ABD1C6;
  text-decoration: none;
  font-weight: bold; }

.custom-footer-content .footer-links a:hover {
  color: #fff;
  text-decoration: underline; }

.custom-footer-content .footer-copyright {
  margin-top: 20px;
  font-size: 0.9em;
  color: #ddd; }

.form-container {
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  border: solid 2px black;
  font-family: "Poppins", sans-serif;
  width: 90%;
  margin: auto; }

.input-custom {
  height: 50px; }

input[type=submit] {
  background: #F9BC60;
  border: solid 1px black;
  color: black;
  display: flex;
  justify-content: end;
  position: relative; }

.card-default {
  width: 90%;
  margin: auto; }

.card-home {
  background-color: white;
  padding: 20px;
  border: solid 2px black;
  border-radius: 20px; }

.woocommerce ul.products li.product.desktop-align-left, .woocommerce-page ul.products li.product.desktop-align-left {
  background-color: white;
  padding: 20px;
  border: solid 2px black;
  border-radius: 20px; }

.woocommerce-loop-product__title {
  color: #004643; }

.woocommerce-page ul.products li.product .ast-woo-product-category {
  color: #E16162; }

.woocommerce ul.products li.product .price {
  color: #378b73; }

.woocommerce ul.products li.product.desktop-align-left .button {
  border: solid 1px black;
  margin: 20px 30px 10px 40px; }

.woocommerce-js ul.products li.product a img {
  border: solid 1px black;
  border-radius: 20px; }

#d2f91c4 {
  width: 90%; }

legend {
  color: #dadada !important; }

.entry-title {
  margin-left: 160px; }

.ast-woocommerce-container {
  width: 90%;
  margin: auto; }
